.ant-layout-sider-collapsed .ant-layout-sider-collapsed-a {
    display: none;
}
.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
    position: fixed;
}
.ant-radio-group.ant-radio-group-outline.ant-picker-calendar-mode-switch {
    display: none !important;
}
.ant-comment-inner{
    padding: 8px 0 !important;
}